<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% block body_block %}
<div class="jumbotron"> <h1>This is Registration Page</h1>
    {% if registered %}
        <h3>Thank you for Registering</h3>
        </div>
    {% else %}
        <h3>Enter your details to register</h3>
        <h5>Fill out the form</h5>

        </div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Done">
        </form>
    {% endif %}








{% endblock %}